/* *, */
/* *::before,
*::after {
  box-sizing: border-box;
} */

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  overscroll-behavior: none;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif; */
  font-family: 'Segoe UI', 'SF Pro Display', -apple-system, sans-serif;
  /* background: #000;
  width: 100%;
  overflow-x: hidden; */
}

/* body {
  min-height: 100vh;
  background-image: url('/home-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

#app {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
} */
